.inputID {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.inputID input {
  width: 200px;
  height: 19px;
  margin: auto;
  display: flex;
  justify-content: center;
  border: solid 2px #797fc9;
  border-radius: 5%;
  padding: 5px;
}
